<% provide(:title, "Home") %>

<div class="ui jumbo vertical center aligned">
    <div class="profile">
        <img width="250" height="250" src="https://pbs.twimg.com/profile_images/841347860310315010/83yrnJL1_400x400.jpg">
    </div>
    <h1 class="ui  header">i am matt hooks</h1>
    <p>full stack dev &middot; unsolicited internet opinions</p>
    <p class="social"><a href="https://github.com/hooksie"><i class="fa fa-github"></i></a> 
    <a href="https://twitter.com/hooksie"><i class="fa fa-twitter"></i>
    <a href="https://www.instagram.com/portfire/"><i class="fa fa-instagram"></i></p>
</div>
