$primary-color: #0197eb;
$profile-width: 250px;
$profile-height: 250px;

.jumbo {
    margin-top:3em;
    margin-bottom: 1.5em;
    text-align: center;

    h1 {
        font-size: 3em;
    }
}

.profile {
    border: 10px solid $primary-color;
    width: $profile-width;
    height: $profile-height;
    border-radius: 10%;
    display: inline-block;
    overflow: hidden;

    img {
      height: $profile-width;
      width: $profile-height;
    }
}

.shebang span.name {
    color: $primary-color;
    font-weight: bold;
}

.social {
    font-size: 2.5em;

    a {
        color: #000000;
        display: inline-block;
        margin: 0.5em;

        &:hover {
            color: $primary-color;
        }
    }
}
